# Ignore everything
*

# Do not ignore these specific files
!.gitignore
!starship.toml

# Do not ignore these directories and their contents
!ghostty/
!ghostty/**

!foot/
!foot/**

!hypr/
!hypr/**

!nvim/
!nvim/**

!waybar/
!waybar/**

!swaync/
!swaync/**

!wofi/
!wofi/**

!hpanel/
!hpanel/**
