# ignore
*
# do not ignore

!.gitignore

# do not ignore

!ghostty/
!foot/
!hypr/
!nvim/
!waybar/
!swaync/
!wofi/

# allow tracking

ghostty/**
foot/**
hypr/**
nvim/**
waybar/**
swaync/**
wofi/**

# explicitly un-ignore files inside the allowed directories
!ghostty/**
!foot/**
!hypr/**
!nvim/**
!waybar/**
!swaync/**
!wofi/**
