@define-color background  #161617;
@define-color mauve       #e7cce2;
@define-color red         #e7cce2;
@define-color lavender    #faf8d2;
@define-color text        #faf8d2;

* {
    all: unset;
    font-family: 'CodeNewRoman Nerd Font Mono', monospace;
    font-size: 18px;
    outline: none;
    border: none;
    text-shadow: none;
    background-color: transparent;
}

window {
    all: unset;
    padding: 20px;
    border-radius: 0px; /* Square corners */
    background-color: #161617; /* Solid background */
}

#inner-box {
    margin: 2px;
    padding: 5px;
    border: none;
}

#outer-box {    
    border: none;
}

#scroll {
    margin: 0px;
    padding: 30px;
    border: none;
    background-color: #161617; /* Solid background */
}

#input {
    all: unset;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    padding: 20px;
    border: none;
    outline: none;
    color: #faf8d2;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
    border-radius: 0px; /* Square corners */
    background-color: #161617; /* Solid background */
}

#input image {
    border: none;
    color: #e7cce2;
    padding-right: 10px;
}

#input * {
    border: none;
    outline: none;
}

#input:focus {
    outline: none;
    border: none;
    border-radius: 0px;
}

#text {
    margin: 5px;
    border: none;
    color: #faf8d2;
    outline: none;
}

#entry {
    all: unset;
    padding-left: 35px;
    padding-top: 35px;
}

#entry arrow {
    border: none;
    color: #faf8d2;
}

#entry:selected {
    /* Additional styling for selected entry if needed */
}

#entry:selected #text {
    color: #e7cce2;
}

#entry:drop(active) {
    background-color: #faf8d2 !important;
}

