@define-color background  #161617;
@define-color mauve       #888fa7;
@define-color red         #464e61;
@define-color lavender    #acc0ba;
@define-color text        #b8bfd3;

* {
    all: unset;
    font-family: 'CodeNewRoman Nerd Font Mono', monospace;
    font-size: 18px;
    outline: none;
    border: none;
    text-shadow: none;
    background-color: transparent;
}

window {
    all: unset;
    padding: 20px;
    border-radius: 10px; /* Rounded corners (top and bottom are rounded) */
    background-color: @background; /* Background with ~95% opacity */
}

#inner-box {
    margin: 2px;
    padding: 5px;
    border: none;
}

#outer-box {    
    border: none;
}

#scroll {
    margin: 0px;
    padding: 30px;
    border: none;
    background-color: @background; /* Background with ~95% opacity */
}

#input {
    all: unset;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    padding: 20px;
    border: none;
    outline: none;
    color: @text;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
    border-radius: 10px; /* Rounded corners (top and bottom) */
    background-color: @background; /* Background with ~95% opacity */
}

#input image {
    border: none;
    color: @mauve;
    padding-right: 10px;
}

#input * {
    border: none;
    outline: none;
}

#input:focus {
    outline: none;
    border: none;
    border-radius: 10px;
}

#text {
    margin: 5px;
    border: none;
    color: @text;
    outline: none;
}

#entry {
    all: unset;
    padding-left: 35px;
    padding-top: 35px;
}

#entry arrow {
    border: none;
    color: @text;
}

#entry:selected {
    /* Additional styling for selected entry if needed */
}

#entry:selected #text {
    color: @mauve;
}

#entry:drop(active) {
    background-color: @lavender !important;
}

